.survey{
    text-align: center;
    color: black;
    font-size: xxx-large;
}

.wow{
    text-align: center;
}
.email{
    text-align: center;
}
.age{
    text-align: center;
}
.student{
    text-align: center;
}